# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
!frontend/src/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
.postman

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs & System
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Database & Telemetry Local Storage
*.sqlite
*.sqlite3
*.db
clickhouse_data/
postgres_data/
redis_data/
